<main class='main-home'>

  <div class='header'>

    <div class='header-title-container'>

      <a ui-sref='home'><p class='header-title neon-text'>Sentience</p></a>

    </div>

    <a href='https://github.com/Josh-Oven/sentience'><button class='header-play-button'><p>Check it out</p></button></a>

  </div>

  <div class='main-home-inner-container'>

    <div class='home-article-container'>

      <div class='home-article-title-container'>

        <p class='page-title'>Introducing Sentience.</p>

      </div>

      <div class='home-article'>

        <p>Words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler. words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler. words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler. words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler.</p>

      </div>

    </div>

    <div class='home-gif-text-container'>

      <div class='home-text-container'>

        <p>An early demo of the intro page.</p>

      </div>

      <div class='home-gif-container'>

        <img src='https://thumbs.gfycat.com/SilentTenderArchaeocete-size_restricted.gif' />

      </div>

    </div>

    <div class='home-article-container'>

      <div class='home-article-title-container'>

        <p>Adderall is wearing off....</p>

      </div>

      <div class='home-article'>

        <p>Words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler. words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler. words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler. words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler.</p>

      </div>
    </div>

    <div class='home-gif-text-container'>

      <div class='home-gif-container'>

        <img src='https://thumbs.gfycat.com/BrownExcitableHusky-size_restricted.gif' />

      </div>

      <div class='home-text-container'>

        <p>My first rough draft of a spaceship I've been working on. You'll be seeing this early on in the story.</p>

      </div>

    </div>

    <div class='home-article-container'>

      <div class='home-article-title-container'>

        <p>A bit about me.</p>

      </div>

      <div class='home-article'>

        <p>Words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler. words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler. words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler. words and words gotta test the display of this text so that it looks a bit normal. For some reason Atom breaks when i copy and paste any text so here i am righting in my own filler.</p>

      </div>
    </div>

    <div class='home-gif-text-container'>

      <div class='home-text-container'>

        <p>A demo of a rough draft for the menu I want to use when receiving information from interactable objects.</p>

      </div>

      <div class='home-gif-container'>

        <img src='https://thumbs.gfycat.com/GloomyIncompleteIndusriverdolphin-size_restricted.gif' />

      </div>

    </div>

  </div>

  <div class='footer'>



  </div>

</main>
