@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

$retro: 'Press Start 2P';
$paragraph: 'Quicksand';

.main-home {
  width: 100%;
  height: auto;
  background: linear-gradient(#313440, #17181e);

  @media (max-width: 600px){
    padding-bottom: 10px;
  }

  .header {
    position: absolute;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #262831;
    box-shadow: 0 5px 3px -2px #19191c;
  }

  .header-title-container {
    height: 100%;
    width: auto;
    float: left;
    margin-left: 30px;
    // border: 1px solid white;
    display: flex;
    align-items: center;

    @media (max-width: 600px){
      margin-left: 20px;
    }

    .header-title {
      font-family: $retro;
      font-size: 30px;
      color: violet;
      text-shadow: var(--low-neon-violet);
      // animation: neon-flicker 7s infinite;
    }
  }

  .header-play-button {
    width: auto;
    height: auto;
    padding: 10px 10px 10px 10px;
    background: violet;
    box-shadow: var(--low-neon-violet);
    margin-right: 30px;
    border: none;
    z-index: 20;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 600px){
      display: none;
    }

    p {
      font-family: $retro;
      font-size: 15px;
      color: white;

      @media (max-width: 600px){
       display: none;
      }
    }
  }

  .header-play-button:active {
    transform: translateY(2px);
  }

  #mobile-menu {
    position: fixed;
    bottom: 15%;
    right: 10px;
    width: 230px;
    height: auto;
    padding: 5px 0 0 10px;
    background: rgba(23, 24, 30, .3);
    border-right: 2px solid violet;
    z-index: 21;
    flex-wrap: wrap;
    // justify-content: space-around;

    .menu-link-container {
      position: relative;
      width: 200px;
      height: auto;
      background: #262831;
      border-right: 2px solid black;
      padding: 5px 10px 5px 10px;
      float: right;
      margin-bottom: 5px;
      // margin-left: 30%;
      text-align: center;

      p {
        font-family: $retro;
        font-size: 25px;
        line-height: 30px;
        color: white;
        // margin-right: 10px;

        @media (max-width: 600px){
          font-size: 15px;
          line-height: 25px;
        }
      }

      i {
        font-size: 25px;
        color: white;
        // margin: auto;
      }
    }
  }

  .mobile-menu-button {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 60px;
    right: 50px;
    padding: 0;
    background: violet;
    box-shadow: var(--low-neon-violet);
    border: none;
    z-index: 20;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;

    @media (min-width: 600px){
      display: none;
    }

    .button-particle-container {
      display: none;
      position: relative;
      width: 9px;
      height: 9px;
      top: -15px;
      border: none;
      z-index: 18;

      @media (max-width: 600px){
        display: inherit;
      }
    }

    .button-particle {
        position: relative;
        width: 100%;
        height: 100%;
        background: violet;
        box-shadow: var(--low-neon-violet);
        border: none;
        z-index: 18;
    }
  }

  .main-home-inner-container {
    padding-top: 70px;
    // padding-bottom: 10px;
    width: 1150px;
    height: auto;
    margin: auto;
    background: #dfdfe5;
    // // background: white;
    // background: #c2c2c9;
    box-shadow: 0 0 4px 2px #19191c;

    @media (max-width: 1300px){
      width: 1000px;
    }

    @media (max-width: 1100px){
      width: 90%;
    }

    @media (max-width: 600px){
      width: 96%;
    }

    .home-article-container {
      width: 98%;
      height: auto;
      padding-bottom: 120px;
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-around;
      // align-items: center;
      margin: auto;
      margin-bottom: 10px;

      @media (max-width: 1050px){
        padding-bottom: 20px;
      }

      @media (max-width: 600px){
        height: auto;
      }

      .home-article-title-container {
        width: 90%;
        height: auto;
        padding-left: 5px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 100px;
        border-bottom: 2px solid violet;
        display: flex;
        align-items: flex-end;

        @media (max-width: 800px){
          margin-bottom: 70px;
        }

        @media (max-width: 700px){
          margin-bottom: 50px;
        }

        @media (max-width: 650px){
          margin-bottom: 25px;
        }

        @media (max-width: 650px){
          margin-bottom: 25px;
        }

        @media (max-width: 575px){
          margin-top: 20px;
        }

        p {
          font-family: $retro;
          font-size: 22px;
          color: black;
          float: right;
          line-height: 1.5em;
        }
      }

      .home-article {
        width: 90%;
        height: auto;
        margin: 0 0 30px 0;
        margin: auto;
        padding: 20px 0 20px 20px;
        border-left: 2px solid violet;
        // background: rgba(49, 52, 64, 0.2);
        background: #d0d0d5;
        // border-bottom: 2px solid violet;

        p {
          text-indent: 20px;
          font-family: 'Roboto';
          font-size: 18px;
          line-height: 30px;
          width: 800px;
          margin-bottom: 20px;

          @media (max-width: 1050px){
            width: 95%;
          }

          @media (max-width: 600px){
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 10px;
          }
        }
      }
    }

    .home-gif-text-container {
      width: 100%;
      height: 350px;
      // border: 1px solid black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      background: #313440;

      @media (max-width: 1300px){
        padding: 10px 0 10px 0;
        height: auto;
        flex-wrap: wrap;
      }
    }

    .home-gif-container {
      width: 500px;
      height: 280px;
      overflow: hidden;
      // background: #6f6f72;
      display: inherit;
      justify-content: space-around;
      align-items: center;

      @media (max-width: 600px){
        width: 98%;
      }

      @media (max-width: 525px){
        height: auto;
      }

      img {
        width: 100%;
      }
    }

    .home-text-container {
      width: 500px;
      height: auto;
      background: #262831;
      // text-align: center;
      border-left: 2px solid black;
      padding: 20px 20px 20px 20px;

      p {
        font-family: 'Roboto';
        font-size: 18px;
        // font-weight: 500;
        line-height: 30px;
        // text-indent: 10px;
        color: white;

        @media (max-width: 600px){
          font-size: 15px;
          line-height: 25px;
        }
      }
    }

    @media (max-width: 1300px){
      .home-text-container {
        height: auto;
        margin: 10px;
      }

      .home-gif-container {
        margin: 10px;
      }
    }

  }

  .footer {
    width: 100%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #262831;
    // box-shadow: 0 -2px 3px 2px #19191c;

    @media (max-width: 600px){
      display: none;
    }

    .footer-link-container {
      height: 100%;
      width: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    a {
      text-decoration: none;
    }

    i {
      font-size: 25px;
      color: violet;
    }

    p {
      font-family: 'Roboto';
      font-size: 15px;
      color: violet;
      right: 10px;
      position: absolute;
    }
  }
}
